
<h1><%= Header %></h1>
<form action="/search" method="get">
    <input name="query" type="text" value="<%= query %>" id="search" placeholder="Search by name...">
    <button type="submit"> Search</button>
</form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody id="data-table">
            <% data.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.surname %>
                    </td>
                    <td>
                        <%= item.department %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
</table>